[user]
	name = Ettore Speziale
	email = speziale.ettore@gmail.com

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[core]
	pager = less -FRSX
	editor = vim

[difftool]
	prompt = false

[merge]
	tool = vimdiff

[mergetool]
	keepBackup = false

[push]
	default = simple
