[user]
	name = Ettore Speziale
	email = speziale.ettore@gmail.com

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[core]
	pager = less -FRSX
	editor = vim

[diff]
	ignoreSubmodules = all

[difftool]
	prompt = false

[merge]
	tool = vimdiff

[mergetool]
	keepBackup = false

[push]
	default = upstream

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
